.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fffdef;
    font-family: 'DynaPuff', sans-serif;
}

.register-box {
    background-color: #fdf7d7;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-title {
    font-size: 24px;
    color: #48392A;
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #C06E52;
    border-radius: 5px;
    outline: none;
    background-color: #FBF2C0;
    color: #48392A;
}

.register-button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #FBF2C0;
    background-color: #48392A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #a85642;
}

.login-prompt {
    margin-top: 10px;
    font-size: 14px;
    color: #48392A;
}

.login-link {
    color: #C06E52;
    text-decoration: none;
    font-weight: bold;
}

.login-link:hover {
    text-decoration: underline;
}
