body{
    background-color: #fffdef;
    font-family: 'DynaPuff', sans-serif;

}

.table-as-list {
    
    width: 15%;
    margin-top: 10px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.table-as-list th, .table-as-list td {
    display: table-cell;
    width: 12%;
    text-align: left;
    padding: 10px;
    color: #C06E52;
}

.table-as-list th {
    background-color: #C06E52;
    font-weight: bold;
    font-family: 'DynaPuff', sans-serif;
    color: #fdf7d7;
    font-size: 30px;
}

.table-as-list td {
    background-color: #fdf7d7;
}


.table-as-list tr:last-child {
    border-bottom: none;
}

.background-canvas {
    
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    background-color: #fdf7d7;
}

.add-item-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #48392A;
    color: #fdf7d7;
    border: none;
    padding: 20px 20px;
    border-radius: 15px;
    font-family: 'DynaPuff', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.add-item-button:hover {
    background-color: #a85642;
}

.search-container {
    display: flex;
    margin-top: 10px;
    margin-left: 10px; 
}

.search-box {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #C06E52;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 120px;
}

.search-button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #C06E52;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #a85642;
}

.food-items-container {
    position: absolute;
    margin-top:45px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 200px;
    width: 10px;
    padding: 20px;
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 10;
    text-align: center;
    left: 120px;
}

.food-items-container h2 {
    margin-bottom: 20px;
    color: #48392A;
}

.food-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.food-item.expiring-soon {
    background-color: #ffcccc;
}

.remove-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #c0392b;
}

.add-button {
    background-color: #a85642;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

