@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px; 
    background-color: #48392A; 
    color: #FBF2C0;
    font-family: 'DynaPuff', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    overflow: hidden;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-user {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar-username {
    margin-right: 20px;
    font-size: 25px;
}
.navbar-logout{
    margin-right: 20px;
    font-size: 20px;    
}

